@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('https://leaders.tech/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://leaders.tech/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('https://leaders.tech/fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400; /* regular */
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('https://leaders.tech/fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 700; /* bold */
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('https://leaders.tech/fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 800; /* extrabold */
}

@font-face {
  font-family: 'Inter';
  src: url('https://leaders.tech/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cascadia Mono';
  src: url('https://mathsolverbot.shashkovs.ru/static/fonts/CascadiaMono-Light.woff2') format('woff2'),
  url('https://mathsolverbot.shashkovs.ru/static/fonts/CascadiaMono-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
}

code, pre {
  font-family: "Cascadia Mono", monospace !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb; /* bg-gray-50 */
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', sans-serif;
}

@media print {
  /* Default A3 Landscape for Command Terms */
  @page {
    size: A3 portrait;
    margin: 1cm;
  }

  /* Override for A3 Portrait */
  body.print-a3-portrait {
    @page {
      size: A3 portrait;
    }
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }

  .printable-poster {
    width: 100% !important;
    height: 100% !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    transform: scale(1) !important;
  }

  .page-break {
    break-after: page;
  }
}